<h2 class="font-black font-round uppercase text-sm my-2">{{ block.tekst_boven_artikelen }}</h2>
{% for post in block.posts %}
    <a class="block flex py-2 hover:bg-gray-50" href="{{ post.link }}">
        <div class="flex-none w-40 relative">
            <img class="w-full" src="{{ post.thumbnail.src|resize(160) }}"/>
        </div>
        <div class="flex-auto pl-4">
            <h2 class="text-xl font-semibold">{{ post.title }}</h2>
            <p><span class="inline rounded-md px-2 py-0.5 text-xs tracking-wide uppercase font-black font-round bg-green-600 text-white">{{ post.region.title }}</span>
                {{ post.preview.length(140).read_more(false) }}</p>
        </div>
    </a>
{% endfor %}
