<div class="bg-gray-800 text-white dark:border-t dark:border-gray-700/50">
    <div class="w-full mx-auto max-w-960 px-4 pt-4">

        {% if block.tekst_boven_fragmenten %}
            <h2 class="font-bold text-3xl pb-4">{{ block.tekst_boven_fragmenten }}</h2>
        {% endif %}

        {% set post = block.posts[0] %}
        <article>
			<a href="{{ post.link }}" class="grid sm:grid-cols-2 gap-4">
            <div>
                {% include 'partial/post-thumbnail.twig' with { post: post, width: 472 } %}
            </div>

            <div>
                {% include 'partial/tag-region.twig' with { region: post.region } %}
                <h2 class="font-bold text-xl sm:text-3xl">{{ post.title }}</h2>
                <p class="prose text-white hidden sm:block">{{ post.excerpt.read_more(false) }}</p>
            </div>
        </a>
	</article>
    </div>
    <div class="overflow-x-auto clear-left sm:hidden">
        <div class="flex float-left px-2 py-4">
            {% for post in block.posts[1:] %}
                <div class="block w-96 flex-none mx-2 !text-white"
                     style="width: calc((100vw - (1rem * 2) - (1rem * 2)) /2); min-width: 160px; max-width: 220px">
                    {% include 'partial/tile-fragment.twig' with { post: post } %}
                    {{ color }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="w-full mx-auto max-w-960 py-4 px-4 hidden sm:block">

        <div class="grid grid-cols-4 gap-4 !text-white">
            {% for post in block.posts[1:] %}
                {% include 'partial/tile-fragment.twig' with { post: post } %}
            {% endfor %}
        </div>
    </div>
</div>
