<h2 class="font-black font-round uppercase text-sm my-2">{{ block.tekst_boven_fragmenten }}</h2>
<div class="grid grid-cols-3 gap-4 py-2">
    {% for post in block.posts %}
        <a class="block" href="{{ post.link }}">
            <img class="w-full" loading="lazy" src="{{ post.thumbnail.src|resize(201, 113) }}" srcset="{{ post.thumbnail.src|resize(402, 226) }} 2x"/>
            <h1>{{ post.title }}</h1>
        </a>
    {% endfor %}
</div>
