<div class="bg-gray-800 text-white">
    <div class="w-full mx-auto max-w-960 py-4 px-4">
        <h2 class="font-bold text-3xl pb-4">Uitzending gemist</h2>

        <div class="grid sm:grid-cols-2 gap-4">
            {% for video in block.videos %}
                <a href="{{ video.show.link }}?v={{ video.id }}" class="grid sm:block md:grid grid-cols-2 gap-4 hover:bg-gray-700">
                    <img src="{{ video.thumbnail }}"/>
                    <div class="sm:mt-4 md:m-0">
                        <h3 class="font-bold">{{ video.show.title }}</h3>
                        <p>{{ video.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <p class="text-sm tracking-wide uppercase font-bold font-round text-gray-400 mt-4">Of kijk een nieuwe aflevering van:</p>
        <div class="flex flex-wrap -mx-3">
            {% for show in block.shows %}
                <a href="{{ show.link }}"
                   class="text-gray-200 hover:bg-gray-700 block px-2 mx-1 my-0.5 rounded">{{ show.title }}</a>
            {% endfor %}
            <a href="{{ function('get_post_type_archive_link', 'tv') }}"
               class="text-blue-400 hover:bg-gray-700 block px-2 mx-1 my-0.5 rounded">→ Alle programma's</a>
        </div>
    </div>
</div>
