<div class="bg-gray-800 text-white">
    <div class="w-full mx-auto max-w-960 py-4 px-4">
        {% if block.tekst_boven_videos %}
            <h2 class="font-bold text-3xl pb-4">{{ block.tekst_boven_videos }}</h2>
        {% endif %}

        <div class="grid sm:grid-cols-2 gap-4">
            {% for item in block.videos %}
                <a href="{{ item.show.link }}?v={{ item.video.id }}" class="grid sm:block md:grid grid-cols-2 gap-4 hover:bg-gray-700">
                    <img src="{{ item.video.thumbnail }}" alt="{{ item.show.title }} - {{ item.video.name }}" loading="lazy"/>
                    <div class="sm:mt-4 md:m-0">
                        <h3 class="font-bold">{{ item.show.title }}</h3>
                        <p>{{ item.video.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <p class="text-sm tracking-wide uppercase font-bold font-round text-gray-400 mt-4">Of kijk een nieuwe aflevering van:</p>
        <div class="flex flex-wrap -mx-3">
            {% for item in block.shows %}
                 <a href="{{ item.show.link }}"
                   class="text-gray-200 hover:bg-gray-700 block px-2 mx-1 my-0.5 rounded">{{ item.show.title }}</a>
            {% endfor %}
            <a href="{{ function('get_post_type_archive_link', 'tv') }}"
               class="text-blauw hover:bg-gray-700 block px-2 mx-1 my-0.5 rounded">→ Alle programma's</a>
        </div>
    </div>
</div>
