<div class="bg-gray-800 text-white dark:border-t dark:border-gray-700/50">
    <div class="w-full mx-auto max-w-960 py-4 px-4">
        {% if block.tekst_boven_videos %}
            <h2 class="font-bold text-3xl pb-4">{{ block.tekst_boven_videos }}</h2>
        {% endif %}

        <div class="grid sm:grid-cols-2 gap-4">
            {% for item in block.videos %}
                <a href="{{ item.show.link }}?v={{ item.video.id }}" class="grid sm:block md:grid grid-cols-2 gap-4 hover:bg-gray-700">
                    <img src="{{ item.video.thumbnail|thumbor(330, 168) }}" alt="{{ item.show.title }} - {{ item.video.name }}" width="330" height="168" loading="lazy"/>
                    <div class="sm:mt-4 md:m-0">
                        <h3 class="font-bold">{{ item.show.title }}</h3>
                        <p>{{ item.video.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <p class="text-sm tracking-wide uppercase font-bold font-round text-gray-400 mt-4">Of kijk een nieuwe aflevering van:</p>
        <ul class="flex flex-wrap gap-2 mt-2">
            {% for item in block.shows %}
                <li>
                    <a href="{{ item.show.link }}"
                       class="block py-1 px-2 rounded-sm uppercase text-sm font-bold bg-gray-700 text-gray-100 hover:bg-gray-600 transition">{{ item.show.title }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{{ function('get_post_type_archive_link', 'tv') }}"
                   class="block py-1 px-2 rounded-sm uppercase text-sm font-bold bg-blauw text-white hover:bg-blauw/80 transition">→ Alle programma's</a>
            </li>
        </ul>
    </div>
</div>
