{% extends "base.twig" %}

{% block content %}
    <div class="max-w-960 mx-auto px-4">
        <h1 class="font-bold text-center text-2xl pt-4">De programma's van</h1>
        <div class="flex justify-center font-bold text-4xl mt-2">
            <span class="flex-none flex items-center p-3 mx-2 bg-gray-800 text-white rounded"
               href="{{ function('get_post_type_archive_link', 'tv') }}">
                {{ icon('icon-tv') }}
                <span class="ml-2 text-sm font-round font-bold uppercase">ZuidWest TV</span>
            </span>
            <a class="flex-none flex items-center  mx-2 p-3 text-white bg-gray-100 hover:bg-gray-200 text-gray-900 rounded"
               href="{{ function('get_post_type_archive_link', 'fm') }}">
                {{ icon('icon-radio') }}
                <span class="ml-2 text-sm font-round font-bold uppercase">ZuidWest FM</span>
            </a>
        </div>

        <div class="prose text-center prose-lg mt-4 max-w-none">
            <p>Lees alles over de programma's van ZuidWest TV of kijk uitzendingen terug.</p>
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 py-8">
            {% for post in posts %}
                <a class="block" href="{{ post.link }}">
                    <div class="aspect-w-16 aspect-h-9 bg-blauw rounded overflow-hidden">
                        <img class="w-full h-full object-cover" src="{{ post.thumbnail.src|resize(440, 248) }}"/>
                    </div>
                    <p class="text-center mt-2 font-bold text-sm">{{ post.title }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
