{% extends 'base.twig' %}

{% block content %}
    {% import 'partial/responsive-image.twig' as responsive %}

    <div class="max-w-960 mx-auto px-4">
        {% embed 'partial/tabs.twig' %}
            {% block title %}
                De programma's van
            {% endblock %}

            {% block content %}
                {{ _self.tab_active('ZuidWest TV', 'icon-tv') }}
                {{ _self.tab('ZuidWest FM', 'icon-radio', function('get_post_type_archive_link', 'fm')) }}
            {% endblock %}
        {% endembed %}

        <div class="prose text-center prose-lg mt-4 max-w-none text-black dark:text-gray-200">
            <p>Lees alles over de programma's van ZuidWest TV of kijk uitzendingen terug.</p>
        </div>

        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 py-8">
            {% for post in posts %}
                <a class="block" href="{{ post.link }}">
                    <div class="aspect-video bg-blauw rounded-sm overflow-hidden">
                        {{ responsive.render(
                            src: post.thumbnail.src,
                            width: 296,
                            height: 167,
                            sizes: '(min-width: 960px) 220px, (min-width: 768px) calc((100vw - 5rem) / 4), (min-width: 640px) calc((100vw - 4rem) / 3), calc((100vw - 3rem) / 2)',
                            alt: post.thumbnail.alt|default(post.title, true),
                            class: 'w-full h-full object-cover',
                        ) }}
                    </div>
                    <p class="text-center mt-2 font-bold text-sm text-black dark:text-gray-100">{{ post.title }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
