{% extends "base.twig" %}

{% block content %}
    <div class="max-w-960 mx-auto px-4">
        {% embed "partial/tabs.twig" %}
            {% block title %}
                De programma's van
            {% endblock %}

            {% block content %}
                {{ _self.tab_active('ZuidWest TV', 'icon-tv', function('get_post_type_archive_link', 'tv')) }}
                {{ _self.tab('ZuidWest FM', 'icon-radio', function('get_post_type_archive_link', 'fm')) }}
            {% endblock %}
        {% endembed %}

        <div class="prose text-center prose-lg mt-4 max-w-none text-black dark:text-gray-200">
            <p>Lees alles over de programma's van ZuidWest TV of kijk uitzendingen terug.</p>
        </div>

        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 py-8">
            {% for post in posts %}
                <a class="block" href="{{ post.link }}">
                    <div class="aspect-w-16 aspect-h-9 bg-blauw rounded overflow-hidden">
                        <img class="w-full h-full object-cover" alt="{{ post.title }}" src="{{ post.thumbnail.src|thumbor(440, 248) }}"/>
                    </div>
                    <p class="text-center mt-2 font-bold text-sm text-black dark:text-gray-100">{{ post.title }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
