{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

{% set submenu = null %}

<body class="{{ body_class }} bg-white dark:bg-gray-800" data-template="base.twig">
<div class="bg-gray-800 border-b border-gray-900 dark:border-gray-700 text-white">
    <div class="-mb-px">
        <div class="mx-auto max-w-960">
            <div class="flex overflow-auto p-2">
                {% if function('has_custom_logo') %}
                    {{ function('get_custom_logo') }}
                {% else %}
                    <a class="text-white font-round flex items-center px-2 font-black uppercase text-xl sm:text-3xl leading-none"
                       href="{{ site.url }}" rel="home">Zuid<br
                                class="sm:hidden"/>West</a>
                {% endif %}

                <div class="flex-grow"></div>
                {% for item in topmenu.items %}
                    {% set icon = null %}
                    {% for class in item.classes %}
                        {% set icon = icon|default(icon(class)) %}
                    {% endfor %}

                    {% if icon %}
                        <a class="flex-none flex items-center p-3 text-white hover:bg-gray-700 rounded"
                           href="{{ item.link }}">
                            {{ icon }}
                            <span class="hidden sm:block ml-2 text-sm font-round font-bold uppercase">{{ item.title }}</span>
                        </a>
                    {% else %}
                        <a class="flex-none flex items-center px-2 text-sm font-round font-bold uppercase"
                           href="{{ item.link }}">{{ item.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="overflow-auto" style="-webkit-overflow-scrolling: touch">
                <div class="flex">
                    {% for item in mainmenu.items %}
                        {% set classes = ['flex-none', 'flex', 'px-4', 'border-b-2', 'items-center', 'h-12', 'uppercase', 'text-sm', 'font-round', 'font-bold', 'text-white', 'transition'] %}
                        {% if item.current or item.current_item_parent %}

                            {% if item.current %}
                                {% set submenu = item.children %}
                            {% endif %}

                            {% for child in item.children %}
                                {% if child.current %}
                                    {% set submenu = item.children %}
                                {% endif %}
                            {% endfor %}

                            {% set classes = classes|merge(['text-groen', 'border-current']) %}
                        {% else %}
                            {% set classes = classes|merge(['border-transparent dark:text-gray-400']) %}
                        {% endif %}
                        <a class="{{ classes|join(' ') }}" href="{{ item.link }}">{{ item.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<section id="content" role="main" class="bg-white dark:bg-gray-800 flow-root">
    {% if submenu %}
        <aside class="w-full mx-auto max-w-960 pt-4 px-4">
            <ul class="flex flex-wrap gap-2 md:w-4/5">
                {% for item in submenu %}
                    {% set classes = ['block', 'py-1', 'px-2', 'flex-none', 'rounded',  'uppercase', 'text-sm', 'font-round', 'font-bold'] %}
                    {% if item.current or item.currentItemParent %}
                        {% set classes = classes|merge(['bg-gray-800', 'dark:bg-gray-200', 'dark:text-black ', 'text-white']) %}
                    {% else %}
                        {% set classes = classes|merge(['bg-gray-100 dark:bg-gray-700 dark:text-gray-100 text-gray-900 hover:bg-gray-200 dark:hover:bg-gray-600 transition']) %}
                    {% endif %}
                    <li><a class="{{ classes|join(' ') }}" href="{{ item.link }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </aside>
    {% endif %}
    {% block content %}
        Sorry, geen content
    {% endblock %}
</section>

{% block footer %}
    {% include 'footer.twig' %}
    {{ function('wp_footer') }}
{% endblock %}

    <script>
            var themeLightBtn = document.querySelector('#themeLightBtn');
            var themeDarkBtn = document.getElementById('themeDarkBtn');
            initDarkMode()

            themeDarkBtn.addEventListener('click', function() {
                localStorage.theme = 'light';
                document.documentElement.dispatchEvent(new Event('changeTheme'));
                themeDarkBtn.style.display = 'none'
                themeLightBtn.style.display = 'block'
            })
            themeLightBtn.addEventListener('click', function() {
                localStorage.theme = 'dark';
                document.documentElement.dispatchEvent(new Event('changeTheme'));
                themeDarkBtn.style.display = 'block'
                themeLightBtn.style.display = 'none'
            })

            document.documentElement.addEventListener('changeTheme', initDarkMode)

            function initDarkMode() {
                if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                    document.documentElement.classList.add('dark')
                    themeLightBtn.style.display = 'none'
                    themeDarkBtn.style.display = 'block'
                } else {
                    document.documentElement.classList.remove('dark')
                    themeDarkBtn.style.display = 'none'
                    themeLightBtn.style.display = 'block'
                }
            }
    </script>

</body>
</html>
