{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} bg-gray-100" data-template="base.twig">
        <div class="bg-gradient-to-r from-green-500 to-green-600 overflow-hidden">
            <div class="px-6 md:px-4 max-w-960 h-16 mx-auto text-white flex items-center">
                <a class="font-round font-black uppercase text-xl mr-4" href="{{ site.url }}" rel="home">{{ site.name }}</a>
                {% for item in menu.items %}
                    <a class="flex-none flex px-4 border-b-2 border-transparent items-center h-12"
                       href="{{ item.link }}">{{ item.title }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="border-b bg-white border-gray-200">
            <div class="flex -mb-px max-w-960 mx-auto overflow-auto">
                {% for item in submenu.items %}
                    <a class="flex-none flex px-4 border-b-2 border-transparent items-center h-12"
                       href="{{ item.link }}">{{ item.title }}</a>
                {% endfor %}

				<div class="flex-grow"></div>

				{% for item in socialmenu.items %}
					<a class="flex-none flex px-4 border-b-2 border-transparent items-center h-12"
					   href="{{ item.link }}">{{ item.title }}</a>
				{% endfor %}
            </div>
        </div>

		<section id="content" role="main" class="bg-white">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
            {% include 'footer.twig' %}
            {{ function('wp_footer') }}
        {% endblock %}
	</body>
</html>
