{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
        <div class="bg-gray-800">
            <div class="px-6 md:px-12 max-w-960 mx-auto text-white">
				<a class="font-round" href="{{ site.url }}" rel="home">{{ site.name }}</a>
            </div>
        </div>

        <div class="border-b border-gray-200">
            <div class="flex -mb-px max-w-960 mx-auto">
                {% for item in submenu.items %}
                    <a class="flex-none flex px-4 border-b-2 border-green-500 items-center h-12"
                       href="{{ item.link }}">{{ item.title }}</a>
                {% endfor %}

				<div class="flex-grow"></div>

				{% for item in socialmenu.items %}
					<a class="flex-none flex px-4 border-b-2 border-green-500 items-center h-12"
					   href="{{ item.link }}">{{ item.title }}</a>
				{% endfor %}
            </div>
        </div>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
