{% extends "base.twig" %}

{% block content %}
    <div class="w-full mx-auto max-w-960">
        <h1>{{ post.title }}</h1>

        {% for day in schedule.days %}
            <h2 class="font-bold text-2xl">{{ day.name }}</h2>
            <table>
                {% for broadcast in day.broadcasts %}
                    {% if broadcast.show %}
                    <tr>
                        <td rowspan="2" class="align-top">{{ broadcast.startTime }}</td>
                        <td class="font-bold"><a href="{{ broadcast.show.link }}">{{ broadcast.show.title }}</a></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                {% for host in broadcast.show.meta('fm_show_presentator') %}
                                    <li>{{ User(host) }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td class="align-top">{{ broadcast.startTime }}</td>
                            <td class="font-bold">{{ broadcast.title }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endfor %}
    </div>
{% endblock %}
