{% extends "base.twig" %}

{% block content %}
    <div class="max-w-960 mx-auto px-4">
        <div class="flex justify-center font-bold text-4xl">
            <span class="px-2">ZuidWest TV</span>
            <a href="{{ fm.link }}" class="px-2 text-gray-400 hover:underline">ZuidWest FM</a>
        </div>

        {% for day in schedule.days %}
            <h2 class="font-bold text-2xl">{{ day.name }}</h2>
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
                {% for broadcast in day.television %}
                    <a class="block" href="{{ broadcast.show.link }}">
                        <div class="aspect-w-4 aspect-h-3 bg-blue-900 rounded overflow-hidden">
                            <img class="w-full h-full object-cover"
                                 src="{{ broadcast.show.thumbnail.src|resize(400, 300) }}"/>
                        </div>
                        <p class="text-center mt-2 font-bold text-sm">{{ broadcast.name }}</p>
                        <p class="text-center text-sm">{{ broadcast.times|join('&nbsp ') }}</p>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
