{% extends "base.twig" %}

{% block content %}
    <div class="max-w-960 mx-auto px-4">
        <div class="flex justify-center font-bold text-4xl">
            <a href="{{ tv.link }}" class="px-2 text-gray-400 hover:underline">ZuidWest TV</a>
            <span class="px-2">ZuidWest FM</span>
        </div>

        {% for day in schedule.days %}
            <h2 class="font-bold text-2xl">{{ day.name }}</h2>
            <div class="relative">
                <div class="absolute left-2 inset-y-2 border-l-2 -mx-px border-blue-400"></div>
                <div class="relative">
                    {% for broadcast in day.radio %}
                        <div class="flex flex-col sm:flex-row pl-6">
                            <time class="sm:w-16">
                                <i class="absolute left-0 block w-4 mt-1">
                                    <div class="w-2 h-2 m-1 bg-blue-400 rounded-full"></div>
                                </i>
                                {{ broadcast.startTime|date('H:i') }}</time>
                            {% if broadcast.show %}
                                <a class="block hover:underline" href="{{ broadcast.show.link }}">
                                    <span class="block font-bold">{{ broadcast.show.title }}</span>
                                    {% if broadcast.show.meta('fm_show_presentator') %}
                                        <p>Met
                                            {% spaceless %}
                                                {% for host in broadcast.show.meta('fm_show_presentator') %}
                                                    <span>{{ User(host) }}</span>
                                                    {%- if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            {% endspaceless %}
                                        </p>
                                    {% endif %}
                                </a>
                            {% else %}
                                <span>{{ broadcast.title }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
