{% extends "base.twig" %}

{% block content %}
    <h1>{{ post.title }}</h1>

    <h2 class="mt-4 font-bold text-xl">Frequenties</h2>
    <ul>
        {% for channel in options.tv_frequenties %}
            <li>{{ channel.tv_frequenties_aanbieder }}: {{ channel.tv_frequenties_kanaal }}</li>
        {% endfor %}
    </ul>

    <div class="max-w-960">
        <div class="aspect-w-16 aspect-h-9 ">
            <div>
                <video class="mejs__player" width="100%" height="100%" autoplay controls>
                    {% if options.tv_webplayer_hls_stream %}
                        <source src="{{ options.tv_webplayer_hls_stream }}" type="application/x-mpegURL">
                    {% endif %}
                </video>
            </div>
        </div>

        <div class="aspect-w-16 aspect-h-9 ">
            <div>
                <video class="video-js vjs-fluid vjs-theme-city" data-setup="{}" autoplay controls>
                    {% if options.tv_webplayer_hls_stream %}
                        <source src="{{ options.tv_webplayer_hls_stream }}" type="application/x-mpegURL">
                    {% endif %}
                </video>
            </div>
        </div>
    </div>
{% endblock %}
