{% extends "base.twig" %}

{% block content %}
    <div class="grid grid-cols-1">
        <div class="px-6 md:px-12 max-w-3xl mx-auto row-start-2 md:row-start-auto">
            <h1 class="mt-6 mb-8 text-5xl font-black font-round">{{ post.title }}</h1>
        </div>
        {% if embed and post.meta('post_fragment_is_featured') %}
            <div class="w-full mx-auto max-w-960">
                {{ embed }}
            </div>
        {% elseif post.thumbnail %}
            <div class="w-full mx-auto max-w-960">
                <img src="{{ post.thumbnail.src|resize(960, 540) }}"
                     srcset="{{ post.thumbnail.src|resize(1920, 1080) }} 2x"
                     class="w-full">
                {% if post.thumbnail.caption %}
                    <p class="text-sm text-gray-500 text-center pt-2">{{ post.thumbnail.caption }}</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="px-6 md:px-12 max-w-3xl mx-auto mt-8">
        <p class="flex flex-wrap items-center text-lg mb-8">
            <a href="{{ post.author.path }}" class="flex items-center">
                <img src="{{ post.author.avatar }}" class="h-8 w-8 rounded-full">
                <span class="block ml-3">{{ post.author.name }}</span>
            </a>
            <span class="text-base font-normal mx-2">·</span>
            <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
            <span class="text-base font-normal mx-2">·</span>
            <span>{{ post.region.title }}</span>
        </p>


        <div class="prose md:prose-lg max-w-none zw-prose">
            {{ post.content }}
        </div>
    </div>

    {% if embed and not post.meta('post_fragment_is_featured') %}
        <div class="w-full mx-auto max-w-960">
            {{ embed }}
        </div>
    {% endif %}

{% include "partial/socialshare.twig" %}

    {% if topical %}
        {% set term = topical.topic %}
        <div class="bg-gray-800 text-white">
            <h1>Meer over {{ term }}</h1>

            <ul>
                {% for post in topical.posts %}
                    <li><a href="{{ post.link }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            <a href="{{ term.link }}">Alles over {{ term.name }}</a>
        </div>
    {% endif %}

    {% if local %}
        <div class="bg-gray-800 text-white">
            <div class="w-full mx-auto max-w-960 py-4">
                <h2 class="font-bold text-3xl pb-4">Meer nieuws uit {{ local.region }}</h2>
                <div class="grid md:grid-cols-4 gap-4">
                    {% for post in local.posts %}
                        {% include 'partial/post-tile.twig' with {'post': post} only %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
