{% extends "base.twig" %}

{% block content %}
    <article id="post-{{ post.id }}" class="{{ post.class }}">
        <div class="mx-auto max-w-960 md:px-4 md:pt-8">
            <div class="aspect-[21/9] relative">
                {% if post.thumbnail %}
                    <img src="{{ post.thumbnail.src|thumbor(960, 960 / 21 * 9) }}"
                         srcset="{{ post.thumbnail.src|thumbor(1920, 1920 / 21 * 9) }} 2x"
                         alt="{{ post.title }}" class="absolute inset-0 bg-gray-200 dark:bg-gray-700 ">
                {% endif %}
            </div>
        </div>
        <div class="px-6 md:px-12 max-w-3xl mx-auto py-8">
            <ul class="text-sm md:text-base text-black dark:text-white">
                {% for entry in post.meta('fm_show_programmatie') %}
                    <li>{{ entry|format_schedule }}</li>
                {% endfor %}
            </ul>
            <h1 class="font-black font-round text-4xl md:text-5xl uppercase text-black dark:text-white">{{ post.title }}</h1>

            {% set hosts = [] %}
            {% for host in post.meta('fm_show_presentator') %}
                {% set hosts = hosts|merge([User(host)]) %}
            {% endfor %}
            <p class="text-sm md:text-base mb-8 text-black dark:text-white">Met {{ hosts|join(', ', ' en ') }}</p>

            <div class="prose dark:prose-invert prose-lg sm:col-span-2">
                {{ post.content }}
            </div>
        </div>

        {% if recordings is not empty %}
            <aside class="bg-gray-800 border-t border-transparent dark:border-gray-200/10 text-white">
                <div class="w-full mx-auto max-w-960 px-4">
                    <h2 class="font-bold text-3xl pt-4 pb-4">Uitzending gemist</h2>

                    <ul class="grid grid-cols-2 md:grid-cols-4 gap-4 pb-4">
                        {% for recording in recordings %}
                            <li>
                                <a class="block bg-gray-700/50 hover:bg-gray-700 focus:bg-gray-700 rounded p-2"
                                   href="{{ options.radio_gemist_baseurl|replace({"<date>":recording.format(options.radio_gemist_file)}) }}"
                                   target="_blank">
                                    <span class="block font-semibold">{{ recording.locale('nl').isoFormat('dddd D MMMM') }}</span>
                                    <span class="block">{{ recording.locale('nl').isoFormat('HH:mm') }} uur</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
        {% endif %}
    </article>
{% endblock %}
