{% extends "base.twig" %}

{% block content %}
    <div class="px-6 md:px-12 max-w-3xl mx-auto">
        <h1 class="mt-6 mb-8 text-5xl font-black font-round">{{ post.title }}</h1>
    </div>
    <div class="w-full mx-auto max-w-960">
        <img src="{{ post.thumbnail.src|resize(1280, 720) }}" class="w-full">
    </div>
    <div class="px-6 md:px-12 max-w-3xl mx-auto mt-8">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <p class="flex">
                <a href="{{ post.author.path }}"> {{ post.author.name }} </a>
                <span>&bull;</span>
                <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
            </p>

            <pre>
                {{ dump(post.terms) }}
            </pre>

            <section class="article-content">

                <div class="prose prose-md md:prose-lg max-w-none">
                    {{ post.content }}
                </div>
            </section>

        </article>
    </div>
{% endblock %}
