{% extends "base.twig" %}

{% block content %}
    <div class="px-6 md:px-12 max-w-3xl mx-auto">
        <h1 class="mt-6 mb-8 text-5xl font-black font-round">{{ post.title }}</h1>
    </div>

    <div class="w-full mx-auto max-w-960 mt-8">
        {{ embed }}
    </div>

    <div class="px-6 md:px-12 max-w-3xl mx-auto mt-8">
        <p class="flex  items-center text-lg mb-8">
            <a href="{{ post.author.path }}"> {{ post.author.name }} </a>
            <span class="text-base font-normal mx-2">·</span>
            <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
            <span class="text-base font-normal mx-2">·</span>
            <span>{{ post.region.title }}</span>
        </p>


        <div class="prose md:prose-lg max-w-none">
            {{ post.content }}
        </div>

        {% if posts %}
            <div class="mt-8">
                <h1 class="font-black font-round text-sm uppercase">Artikelen bij dit fragment</h1>
                {% for post in posts %}
                    <a class="block flex py-2 hover:bg-gray-50" href="{{ post.link }}">
                        <div class="flex-none w-32 relative">
                            <img class="w-full" src="{{ post.thumbnail.src|resize(160) }}"
                                 srcset="{{ post.thumbnail.src|resize(320) }} 2x"/>
                        </div>
                        <div class="flex-auto pl-4">
                            <h2 class="text-xl font-semibold">{{ post.title }}</h2>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% include "partial/socialshare.twig" %}

{% endblock %}
