{% extends 'base.twig' %}

{% block content %}
    <article id="post-{{ post.id }}" class="{{ post.class }}">
        <div class="grid grid-cols-1">
            <div class="row-start-2 md:row-start-auto">
                <div class="px-6 md:px-12 max-w-3xl mx-auto pt-6 pb-4">
                    {{ include('partial/tag-region.twig', {region: post.region}) }}
                    <h1 class="text-4xl lg:text-5xl font-black font-round break-words text-black dark:text-white">{{ post.title }}</h1>
                    <time class="text-xs tracking-wide uppercase font-black font-round text-black dark:text-gray-200"
                          datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
                </div>
            </div>

            <div>
                {% if embed and post.meta('post_fragment_is_featured') %}
                    <div class="w-full mx-auto max-w-960 md:py-4">
                        {{ embed }}
                    </div>
                {% elseif post.thumbnail %}
                    <div class="w-full mx-auto max-w-960">
                        <img src="{{ post.thumbnail.src|thumbor(960, 540) }}"
                             srcset="{{ post.thumbnail.src|thumbor(1920, 1080) }} 2x"
                             alt="{{ post.thumbnail.alt }}" width="1920" height="1080" class="w-full">
                        {% if post.thumbnail.caption %}
                            <p class="text-sm text-gray-500 dark:text-gray-400 text-center pt-2">{{ post.thumbnail.caption }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="px-6 md:px-12 max-w-3xl mx-auto pt-4">
            <p class="flex items-center mb-6">
                <img src="{{ post.author.avatar|thumbor(32, 32) }}"
                     srcset="{{ post.author.avatar|thumbor(32 * 2, 32 * 2) }} 2x"
                     alt="{{ post.author.name }}" class="h-8 w-8 rounded-sm">
                <a href="{{ post.author.path }}"
                   class="ml-3 text-xs tracking-wide uppercase font-black font-round text-black dark:text-white">{{ post.author.name }} </a>
            </p>

            <div class="prose dark:prose-invert md:prose-lg max-w-none zw-prose">
                {{ post.content }}
            </div>
        </div>

        {% if embed and not post.meta('post_fragment_is_featured') %}
            <div class="w-full mx-auto max-w-960">
                {{ embed }}
            </div>
        {% endif %}

        {{ include('partial/socialshare.twig') }}
    </article>

    {% if topical %}
        {% set term = topical.topic %}
        <aside class="bg-gray-800 text-white dark:border-t dark:border-gray-700/50">
            <div class="px-6 md:px-12 py-4 max-w-3xl mx-auto">
                <h2 class="font-bold pb-4">
                    <span class="block text-sm tracking-wide uppercase font-round">Meer uit dossier</span>
                    <span class="block text-3xl">{{ term }}</span>
                </h2>

                <ul class="divide-y divide-gray-700 mb-4">
                    {% for post in topical.posts %}
                        <li><a href="{{ post.link }}" class="block py-2 hover:underline">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
                <div class="block text-right">
                    <a href="{{ term.link }}" class="text-blauw hover:bg-gray-700 inline-block px-2 py-1 rounded-sm">Bekijk het volledige dossier →</a>
                </div>
            </div>
        </aside>
    {% endif %}

    {% if local %}
        <aside class="bg-gray-800 text-white border-t border-transparent dark:border-gray-700/50">
            <div class="w-full mx-auto max-w-960 py-4 px-4">
                <h2 class="font-bold text-3xl pb-4">Laatste nieuws uit {{ local.region }}</h2>
                <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-4">
                    {% for post in local.posts %}
                        {{ include('partial/tile-post.twig', {post: post, region: false, summary: false, dark: true}) }}
                    {% endfor %}
                </div>
            </div>
        </aside>
    {% endif %}

{% endblock %}
