{% extends "base.twig" %}

{% block content %}
    <div class="px-6 md:px-12 max-w-3xl mx-auto py-8 md:pt-16">
        <h1 class="font-black font-round text-4xl md:text-5xl uppercase">{{ post.title }}</h1>
        {% if post.meta('tv_show_presentator') %}
            <p class="text-sm md:text-base">Met
                {% spaceless %}
                    {% for host in post.meta('tv_show_presentator') %}
                        <span>{{ User(host) }}</span>
                        {%- if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endspaceless %}
            </p>
        {% endif %}
        <div class="prose prose-lg md:prose-xl prose-blue mt-8">
            {{ post.content }}
        </div>
    </div>

    {% if seasons is not empty %}
        <div class="bg-gray-800 text-white">
            <div class="w-full mx-auto max-w-960 px-4">
                <h2 class="font-bold text-3xl pt-4">Uitzending gemist</h2>
                {% for season, videos in seasons %}
                    <h2 class="text-2xl py-4">{{ season }}</h2>
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 pb-4">
                        {% for video in videos %}
                            <a href="?v={{ video.id }}">
                                <img src="{{ video.thumbnail }}" loading="lazy"/>
                                <h3 class="font-bold mt-2">{{ video.name }}</h3>
                            </a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
