{% extends "base.twig" %}

{% block content %}
    <div class="px-6 md:px-12 max-w-3xl mx-auto">
        <h1 class="mt-6 mb-8 text-5xl font-black font-round">{{ post.title }}</h1>
    </div>
    <div class="w-full mx-auto max-w-960">
        <img src="{{ post.thumbnail.src|resize(1280, 720) }}" class="w-full">
    </div>
    <div class="px-6 md:px-12 max-w-3xl mx-auto mt-8">
        <p class="flex  items-center text-lg mb-8">
            <a href="{{ post.author.path }}"> {{ post.author.name }} </a>
            <span class="text-base font-normal mx-2">·</span>
            <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
            <span class="text-base font-normal mx-2">·</span>
            <span>{{ post.region.title }}</span>
        </p>


        <div class="prose md:prose-lg max-w-none">
            {{ post.content }}
        </div>
    </div>

    {% for item in Post(post.post_gekoppeld_fragment) %}
        <div class="w-full mx-auto max-w-960">
            <style>.embed-container {
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;
                    overflow: hidden;
                    max-width: 100%;
                }

                .embed-container iframe, .embed-container object, .embed-container embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }</style>
            <div class='embed-container'>
                <iframe src='https://player.vimeo.com/video/66140585' frameborder='0' webkitAllowFullScreen
                        mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
    {% endfor %}

    <div class="px-6 md:px-12 max-w-3xl mx-auto mt-8">
        <div class="flex items-center">
            <p class="mr-2">Deel dit artikel:</p>
            <a href="#" style="color: #55ACEE" class="border-current border flex items-center pl-1 pr-3 mx-2 rounded-xl">
                <svg width="32" height="32" viewBox="0 0 32 32" class="fill-current" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.5 11.5717C22.9479 11.8101 22.3555 11.9718 21.7331 12.044C22.3686 11.6731 22.8551 11.0848 23.0857 10.3859C22.4896 10.7294 21.8315 10.9788 21.1304 11.114C20.569 10.5303 19.7704 10.1667 18.8846 10.1667C17.1852 10.1667 15.8073 11.5096 15.8073 13.1649C15.8073 13.3996 15.8345 13.6289 15.887 13.8482C13.33 13.723 11.0626 12.5291 9.5451 10.7148C9.27983 11.1569 9.12892 11.6721 9.12892 12.2221C9.12892 13.2626 9.67258 14.1807 10.4974 14.7179C9.99314 14.7014 9.51885 14.5662 9.10363 14.3415V14.3789C9.10363 15.8315 10.1647 17.0437 11.5716 17.3196C11.3138 17.3872 11.042 17.4247 10.7608 17.4247C10.5621 17.4247 10.37 17.4055 10.1815 17.3689C10.5733 18.5611 11.7094 19.428 13.0554 19.4518C12.0028 20.2557 10.6755 20.7335 9.23392 20.7335C8.98554 20.7335 8.74088 20.7189 8.5 20.6924C9.86194 21.5447 11.4788 22.0417 13.2166 22.0417C18.8771 22.0417 21.9712 17.4722 21.9712 13.5093L21.9609 13.121C22.5655 12.7008 23.0885 12.1728 23.5 11.5717Z"></path>
                </svg>
                Twitter</a>
            <a href="#" style="color: #3B5999" class="border-current border flex items-center pl-1 pr-3 mx-2 rounded-xl">
                <svg width="32" height="32" viewBox="0 0 32 32" class="fill-current" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.3334 13.7778H12.6667V16H14.3334V22.6667H17.1111V16H19.1345L19.3334 13.7778H17.1111V12.8517C17.1111 12.3211 17.2178 12.1111 17.7306 12.1111H19.3334V9.33333H17.2178C15.22 9.33333 14.3334 10.2128 14.3334 11.8972V13.7778Z"></path>
                </svg>
                Facebook</a>
            <a href="#" style="color: #25D366" class="border-current border flex items-center pl-1 pr-3 mx-2 rounded-xl">
                <svg width="32" height="32" viewBox="0 0 32 32" class="fill-current" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.5 23.5L9.55941 19.6481C8.90568 18.5206 8.56217 17.2425 8.5628 15.9319C8.56468 11.8344 11.915 8.5 16.0314 8.5C18.029 8.50062 19.9042 9.275 21.3146 10.68C22.7244 12.085 23.5006 13.9525 23.5 15.9388C23.4981 20.0369 20.1478 23.3713 16.0314 23.3713C14.7817 23.3706 13.5502 23.0587 12.4594 22.4662L8.5 23.5ZM12.6428 21.1206C13.6953 21.7425 14.7001 22.115 16.0289 22.1156C19.4501 22.1156 22.2371 19.3444 22.239 15.9375C22.2403 12.5238 19.4665 9.75625 16.0339 9.755C12.6101 9.755 9.82504 12.5262 9.82379 15.9325C9.82316 17.3231 10.2326 18.3644 10.9202 19.4537L10.2929 21.7338L12.6428 21.1206ZM19.7936 17.7056C19.7472 17.6281 19.6228 17.5819 19.4357 17.4888C19.2492 17.3956 18.3317 16.9462 18.1603 16.8844C17.9894 16.8225 17.8651 16.7912 17.7401 16.9775C17.6158 17.1631 17.2578 17.5819 17.1492 17.7056C17.0406 17.8294 16.9313 17.845 16.7448 17.7519C16.5583 17.6587 15.9567 17.4631 15.2439 16.83C14.6894 16.3375 14.3145 15.7294 14.2059 15.5431C14.0972 15.3575 14.1945 15.2569 14.2875 15.1644C14.3716 15.0813 14.474 14.9475 14.5676 14.8387C14.6624 14.7312 14.6932 14.6538 14.756 14.5294C14.8181 14.4056 14.7874 14.2969 14.7403 14.2037C14.6932 14.1112 14.3201 13.1969 14.165 12.825C14.0131 12.4631 13.8592 12.5119 13.7449 12.5062L13.387 12.5C13.2626 12.5 13.0604 12.5463 12.8896 12.7325C12.7188 12.9188 12.2365 13.3675 12.2365 14.2819C12.2365 15.1962 12.9053 16.0794 12.9982 16.2031C13.0918 16.3269 14.3139 18.2031 16.1859 19.0075C16.6311 19.1987 16.979 19.3131 17.2497 19.3988C17.6968 19.54 18.1037 19.52 18.4253 19.4725C18.7838 19.4194 19.5293 19.0231 19.685 18.5894C19.8407 18.155 19.8407 17.7831 19.7936 17.7056Z"></path>
                </svg>
                Whatsapp</a>
        </div>
    </div>

{% endblock %}
