{% extends "base.twig" %}

{% block content %}
    <div class="grid grid-cols-1">
        <div class="row-start-2 md:row-start-auto">
            <div class="px-6 md:px-12 max-w-3xl mx-auto pt-6 pb-4">
                {% include 'partial/tag-region.twig' with { region: post.region } %}
                <h1 class="text-4xl lg:text-5xl font-black font-round">{{ post.title }}</h1>
                <time class="text-xs tracking-wide uppercase font-black font-round"
                      datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
            </div>
        </div>

        <div>
            {% if embed and post.meta('post_fragment_is_featured') %}
                <div class="w-full mx-auto max-w-960 md:py-4">
                    {{ embed }}
                </div>
            {% elseif post.thumbnail %}
                <div class="w-full mx-auto max-w-960">
                    <img src="{{ post.thumbnail.src|resize(960, 540) }}"
                         srcset="{{ post.thumbnail.src|resize(1920, 1080) }} 2x"
                         class="w-full">
                    {% if post.thumbnail.caption %}
                        <p class="text-sm text-gray-500 text-center pt-2">{{ post.thumbnail.caption }}</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="px-6 md:px-12 max-w-3xl mx-auto pt-4">
        <p class="flex items-center mb-6">
            <img src="{{ post.author.avatar }}" class="h-8 w-8 rounded">
            <a href="{{ post.author.path }}"
               class="ml-3 text-xs tracking-wide uppercase font-black font-round">{{ post.author.name }} </a>
        </p>


        <div class="prose md:prose-lg max-w-none zw-prose">
            {{ post.content }}
        </div>
    </div>

    {% if embed and not post.meta('post_fragment_is_featured') %}
        <div class="w-full mx-auto max-w-960">
            {{ embed }}
        </div>
    {% endif %}

    {% include "partial/socialshare.twig" %}

    {% if topical %}
        {% set term = topical.topic %}
        <div class="bg-gray-800 text-white">
            <div class="px-6 md:px-12 py-4 max-w-3xl mx-auto">
                <h2 class="font-bold text-3xl pb-4">Meer over {{ term }}</h2>

                <ul class="divide-y divide-gray-700 mb-4">
                    {% for post in topical.posts %}
                        <li><a href="{{ post.link }}" class="block py-2">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
                <div class="block text-right">
                    <a href="{{ term.link }}" class="py-2">Alles over {{ term.name }} -&gt;</a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if local %}
        <div class="bg-gray-800 text-white">
            <div class="w-full mx-auto max-w-960 py-4 px-4">
                <h2 class="font-bold text-3xl pb-4">Meer nieuws uit {{ local.region }}</h2>
                <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-4">
                    {% for post in local.posts %}
                        {% include 'partial/post-tile.twig' with { post: post } %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
