{% extends "base.twig" %}

{% block content %}
    <div class="px-6 md:px-12 max-w-3xl mx-auto">
        <h1>{{ post.title }}</h1>

        <img src="{{ post.thumbnail.src }}"/>

        <h2>Presentatie</h2>
        <ul>
            {% for id in post.meta('fm_show_presentator') %}
                <li>{{ User(id) }}</li>
            {% endfor %}
        </ul>

        <div class="prose">
            {{ post.content }}
        </div>

        <h2>Programmatie</h2>
        <ul>
            {% for entry in post.meta('fm_show_programmatie') %}
                <li>{{ entry|format_schedule }}</li>
            {% endfor %}
        </ul>

        <h2>Volgende uitzending</h2>

        <h2>Luister terug</h2>

    </div>
{% endblock %}
