{% if pagination.pages is not empty %}
    <nav>
        <ul class="flex justify-center">

            {# Previous #}
            <li class="p-2">
                {% if pagination.prev %}
                    <a class="min-w-12 h-12 px-4 flex justify-center items-center rounded bg-gray-800 text-white"
                       href="{{ pagination.prev.link }}">&lt; Vorige</a>
                {% else %}
                    <button class="min-w-12 h-12 px-4  flex justify-center items-center rounded text-gray-400" disabled>
                        &lt; Vorige
                    </button>
                {% endif %}
            </li>

            {# Pages #}
            {% for page in pagination.pages %}
                <li class="p-2">
                    {% if page.link %}
                        <a class="w-12 h-12 flex justify-center items-center rounded border-2 border-gray-200 "
                           href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    {% elseif page.current %}
                        <span class="w-12 h-12 flex justify-center items-center rounded border-2  border-green-400 {{ page.class }}">{{ page.title }}</span>
                    {% else %}
                        {# dots #}
                        <span class="h-12 flex justify-center items-center text-gray-400">...</span>
                    {% endif %}
                </li>
            {% endfor %}

            {# Next #}
            <li class="p-2">
                {% if pagination.next %}
                    <a class="min-w-12 h-12 px-4 flex justify-center items-center rounded bg-gray-800 text-white"
                       href="{{ pagination.next.link }}">Volgende &gt;</a>
                {% else %}
                    <button class="min-w-12 h-12 px-4 flex justify-center items-center rounded text-gray-400" disabled>
                        Volgende &gt;
                    </button>
                {% endif %}
            </li>

        </ul>
    </nav>
{% endif %}
