<aside class="px-6 md:px-12 max-w-3xl mx-auto mt-8 pb-8">
    <p class="text-sm tracking-wide uppercase font-bold font-round text-gray-500 mb-2">Deel dit via:</p>
    <div class="flex items-center flex-wrap -m-1">
        {% set share_title = post.title|url_encode %}
        {% set base_url = post.link ~ ('?' in post.link ? '&' : '?') %}

        <a href="https://www.facebook.com/sharer.php?u={{ (base_url ~ 'utm_source=facebook&utm_medium=social&utm_campaign=sharebutton')|url_encode }}&t={{ share_title }}"
           target="_blank"
           rel="noopener"
           class="border border-facebook text-facebook flex items-center pl-1 pr-3 m-1 rounded hover:bg-facebook hover:text-white transition-colors">
            <svg width="32" height="32" viewBox="0 0 32 32" class="fill-current" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3334 13.7778H12.6667V16H14.3334V22.6667H17.1111V16H19.1345L19.3334 13.7778H17.1111V12.8517C17.1111 12.3211 17.2178 12.1111 17.7306 12.1111H19.3334V9.33333H17.2178C15.22 9.33333 14.3334 10.2128 14.3334 11.8972V13.7778Z"/>
            </svg>
            Facebook
        </a>

        <a href="whatsapp://send?text={{ share_title }}%20{{ (base_url ~ 'utm_source=whatsapp&utm_medium=social&utm_campaign=sharebutton')|url_encode }}"
           class="border border-whatsapp text-whatsapp flex items-center pl-1 pr-3 m-1 rounded hover:bg-whatsapp hover:text-white transition-colors">
            <svg width="32" height="32" viewBox="0 0 32 32" class="fill-current" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5 23.5L9.55941 19.6481C8.90568 18.5206 8.56217 17.2425 8.5628 15.9319C8.56468 11.8344 11.915 8.5 16.0314 8.5C18.029 8.50062 19.9042 9.275 21.3146 10.68C22.7244 12.085 23.5006 13.9525 23.5 15.9388C23.4981 20.0369 20.1478 23.3713 16.0314 23.3713C14.7817 23.3706 13.5502 23.0587 12.4594 22.4662L8.5 23.5ZM12.6428 21.1206C13.6953 21.7425 14.7001 22.115 16.0289 22.1156C19.4501 22.1156 22.2371 19.3444 22.239 15.9375C22.2403 12.5238 19.4665 9.75625 16.0339 9.755C12.6101 9.755 9.82504 12.5262 9.82379 15.9325C9.82316 17.3231 10.2326 18.3644 10.9202 19.4537L10.2929 21.7338L12.6428 21.1206ZM19.7936 17.7056C19.7472 17.6281 19.6228 17.5819 19.4357 17.4888C19.2492 17.3956 18.3317 16.9462 18.1603 16.8844C17.9894 16.8225 17.8651 16.7912 17.7401 16.9775C17.6158 17.1631 17.2578 17.5819 17.1492 17.7056C17.0406 17.8294 16.9313 17.845 16.7448 17.7519C16.5583 17.6587 15.9567 17.4631 15.2439 16.83C14.6894 16.3375 14.3145 15.7294 14.2059 15.5431C14.0972 15.3575 14.1945 15.2569 14.2875 15.1644C14.3716 15.0813 14.474 14.9475 14.5676 14.8387C14.6624 14.7312 14.6932 14.6538 14.756 14.5294C14.8181 14.4056 14.7874 14.2969 14.7403 14.2037C14.6932 14.1112 14.3201 13.1969 14.165 12.825C14.0131 12.4631 13.8592 12.5119 13.7449 12.5062L13.387 12.5C13.2626 12.5 13.0604 12.5463 12.8896 12.7325C12.7188 12.9188 12.2365 13.3675 12.2365 14.2819C12.2365 15.1962 12.9053 16.0794 12.9982 16.2031C13.0918 16.3269 14.3139 18.2031 16.1859 19.0075C16.6311 19.1987 16.979 19.3131 17.2497 19.3988C17.6968 19.54 18.1037 19.52 18.4253 19.4725C18.7838 19.4194 19.5293 19.0231 19.685 18.5894C19.8407 18.155 19.8407 17.7831 19.7936 17.7056Z"/>
            </svg>
            WhatsApp
        </a>

        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ (base_url ~ 'utm_source=linkedin&utm_medium=social&utm_campaign=sharebutton')|url_encode }}"
           target="_blank"
           rel="noopener"
           class="border border-linkedin text-linkedin flex items-center pl-1 pr-3 m-1 rounded hover:bg-linkedin hover:text-white transition-colors">
            <svg width="32" height="32" viewBox="0 0 32 32" class="fill-current" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.3 8.7c0 .95.77 1.7 1.7 1.7s1.7-.75 1.7-1.7c0-.93-.77-1.7-1.7-1.7s-1.7.77-1.7 1.7zM13.5 12h-3v11h3V12zM15.7 12h2.9v1.5h.04c.4-.76 1.4-1.56 2.86-1.56 3.06 0 3.63 2.01 3.63 4.64V23h-3v-5.7c0-1.36-.03-3.1-1.9-3.1-1.9 0-2.18 1.48-2.18 3V23h-3V12z"/>
            </svg>
            LinkedIn
        </a>

        {% set email_title = function('html_entity_decode', post.title) %}
        {% set email_url = base_url ~ 'utm_source=email&utm_medium=social&utm_campaign=sharebutton' %}
        {% set email_body = 'Lees dit artikel op ' ~ site.name ~ ': ' ~ email_title ~ '\n\n' ~ email_url %}
        <a href="mailto:?subject={{ email_title|url_encode }}&body={{ email_body|url_encode }}"
           class="border border-gray-400 text-gray-600 dark:text-gray-200 flex items-center pl-1 pr-3 m-1 rounded hover:bg-gray-400 hover:text-white transition-colors">
            <svg width="32" height="32" viewBox="0 0 32 32" class="fill-current" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 8c-4.418 0-8 3.582-8 8s3.582 8 8 8h3.2a.8.8 0 000-1.6H16c-3.535 0-6.4-2.865-6.4-6.4 0-3.535 2.865-6.4 6.4-6.4 3.535 0 6.4 2.865 6.4 6.4v1.2c0 .663-.537 1.2-1.2 1.2-.663 0-1.2-.537-1.2-1.2V16c0-2.21-1.79-4-4-4s-4 1.79-4 4 1.79 4 4 4c1.104 0 2.112-.448 2.832-1.176.52.712 1.416 1.176 2.368 1.176 1.575 0 2.8-1.225 2.8-2.8V16c0-4.418-3.582-8-8-8zm0 10.4c-1.328 0-2.4-1.072-2.4-2.4s1.072-2.4 2.4-2.4 2.4 1.072 2.4 2.4-1.072 2.4-2.4 2.4z"/>
            </svg>
            E-mail
        </a>
    </div>
</aside>
